.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}
.formcontainer {
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  width: fit-content;
  height: fit-content;
}
.header {
  text-align: left;
  color: rgb(83, 138, 80);
  font-size: 2rem;
  margin-bottom: 40px;
}
.formField {
  display: flex;
  flex-direction: column;
  height: 75px;
  margin-bottom: 10px;
}
.formField label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1rem;
  color: rgb(85, 85, 85);
}
.formInput {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 0px 10px;
  transition: all 0.2s ease-in;
}
.uncompleted {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid red;
  padding: 0px 10px;
  transition: all 0.2s ease-in;
}
.formInput:focus,
.uncompleted:focus {
  outline: none;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgb(52, 220, 74);
}
.formField span {
  height: 10px;
  width: fit-content;
  text-align: left;
  font-size: 0.7rem;
  color: rgb(255, 0, 0);
  line-height: 10px;
  padding: 2px 3px;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.062);
}
.checkboxcontainer {
  display: flex;
  font-size: 0.85rem;
  flex-direction: row !important;
  align-items: center;
  height: 20px !important;
  text-align: center;
}
.formField:nth-child(6) label {
  color: rgb(24, 216, 152);
}
input[type="checkbox"] {
  margin-left: 20px;
  width: 18px;
  height: 18px;
  border: 1px solid rgb(52, 220, 74);
  appearance: none;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
input[type="checkbox"]:checked {
  width: 18px;
  height: 18px;
  background-color: rgb(52, 220, 74);
  border-radius: 50%;
}
input[type="checkbox"]:focus {
  width: 18px;
  height: 18px;
  outline: none;
  border: 2px solid rgb(47, 190, 66);
}
.formButtons button {
  background-color: rgb(6, 127, 6);
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.formButtons button:hover {
  background-color: rgb(52, 220, 74);
}
.formButtons a {
  color: rgb(6, 127, 6);
  text-decoration: none;
  transition: all 0.1s ease-in;
  font-weight: 700;
}
.formButtons a:hover {
  color: rgb(39, 171, 57);
}
.formButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .formcontainer {
    width: 65%;
    margin: 20px auto;
  }
  .formField input {
    width: 92%;
  }
  .checkboxcontainer {
    margin-top: 20px;
  }
  .checkboxcontainer input {
    width: 18px;
    height: 18px;
  }
 
  .checkboxcontainer label {
    padding-bottom: 30px;
  }
}